.card {
  width: 100%;
  padding: 20px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-size: 100%;
}
.title {
  font-size: 1.85rem;
  text-align: center;
  margin-bottom: 30px;
  color: #28a745;
}
.caption {
  font-size: 1.75rem;
  text-align: center;
  color: #28a745;
}
.container__card {
  max-width: 350px;
  margin: 50px auto;
  padding: 10px;
}
.container__btn {
  margin-top: 55px;
  display: flex;
  justify-content: space-between;
  transition: all 300s ease-in-out;
  animation-name: fade-in;
  animation-duration: 1s;
}
.container__share {
  margin-top: 55px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: fade-in;
  animation-duration: 1s;
}
.btn {
  padding: 0.375rem 1.75rem;
}
.slick-dots li.slick-active button:before {
  color: #28a745;
}
.hidden {
  position: absolute;
  z-index: -1000;
  opacity: 0;
}
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(1px);
  }
}
